body::before {
  content: "";
  background-image: url(../imgs/close-up-businessman-with-digital-tablet.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 0;
}
/* body::after {
  content: "";
  background: linear-gradient(  rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, .85) 30%, rgba(255, 255, 255, .05) 50%);
	position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
	background-attachment: fixed;
	z-index: 1;
} */

.container {
	max-width: 1730px;
}

header {
	top: 0;
	left: 0;
  right: 0;
  height: 12vh;
  padding: 2% 4%;
	position: fixed;
	background: linear-gradient( rgba(255, 255, 255, 1), 95%, rgba(255, 255, 255, .65) 99%);
	z-index: 3;
}

header .header-inside {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	width: 256px;
}

.nav {
	min-width: 50%;
}
.nav__menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 60%;
	font-weight: 600;
}
.menu a {
	color: #ffff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.menu a:hover {
	border-color: #fff;
}
.nav__burger-stick {
  width: 30px;
  height: 2px;
	margin: 20%;
  background: #737473
}

.nav__phones-burger, .nav__phones-soclinks{
  display: flex;
  align-items: center;
	justify-content: space-between;
	min-width: 24%;
}

.wrapper {
	padding-top: 155px;
}

.wrapper__gradient{
  background: linear-gradient( rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, .85) 30%, rgba(255, 255, 255, .05) 50%);
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-attachment: fixed;
	z-index: 1;
}

.page-title {
	position: relative;
	padding-top: 20px;
	text-align: center;
	z-index: 4;
}

.main__pic-scoupe {
	position: relative;
	display: flex;
	margin: 3% auto;
	max-width: 90%;
	height: 50vh;
	padding-top: 40px;
	border: 2px solid navy;
	background-color: rgba(76, 122, 168, .4);
	z-index: 5;
}







footer {
  left: 0;
  right: 0;
  bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: 12vh;
  padding: 2% 4%;
  position: fixed;
	background: linear-gradient( rgba(255, 255, 255, .85), 5%, rgba(255, 255, 255, 1) 99%);
}
footer .nav__social-links-icon {
	display: flex;
	justify-content: space-between;
	min-width: 30%;
}
footer .nav__social-links-icon span{
	padding: 5%;
}