body::before {
  content: "";
  background-image: url(../imgs/close-up-businessman-with-digital-tablet.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 0;
}
/* body::after {
  content: "";
  background: linear-gradient(  rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, .85) 30%, rgba(255, 255, 255, .05) 50%);
	position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
	background-attachment: fixed;
	z-index: 1;
} */

.container {
	max-width: 1730px;
}

header {
	top: 0;
	left: 0;
  right: 0;
  height: 12vh;
  padding: 2% 4%;
	position: fixed;
	background: linear-gradient( rgba(255, 255, 255, 1), 95%, rgba(255, 255, 255, .65) 99%);
	z-index: 3;
}

header .header-inside {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	width: 256px;
}

.nav {
	min-width: 50%;
}
.nav__menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 60%;
	font-weight: 600;
}
.menu a {
	color: #ffff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.menu a:hover {
	border-color: #fff;
}
.nav__burger-stick {
  width: 30px;
  height: 2px;
	margin: 20%;
  background: #737473
}

/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #455a64;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #455a64;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #455a64;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}
/*End Sandwich*/


.nav__phones-burger, .nav__phones-soclinks{
  display: flex;
  align-items: center;
	justify-content: space-between;
	min-width: 24%;
}

.wrapper {
	padding-top: 155px;
}

.wrapper__gradient{
  background: linear-gradient( rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, .85) 30%, rgba(255, 255, 255, .05) 50%);
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-attachment: fixed;
	z-index: 1;
}

.page-title {
	position: relative;
	padding-top: 20px;
	text-align: center;
	z-index: 4;
}

.main__pic-scoupe {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 3% auto;
	min-width: 96%;
	height: 50vh;
	padding-top: 40px;
	border: 2px solid navy;
	background-color: rgba(76, 122, 168, .4);
	z-index: 5;
}

/* 1
position: absolute;
width: 19px;
left: calc(50% - 19px/2);
top: 9.2%;
bottom: 75.15%;

font-family: Gotham Pro;
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 51px;

letter-spacing: -0.015em;

color: #FFFFFF;
 */

.main__pic-area {
	justify-self: center;
	flex-basis: 22%;
	min-width: 20%;
	margin: 1%;
	padding: 2%;
	border: 2px solid mintcream;
	background-color: steelblue;
}
.main__pic-tab {
	width: auto;
}
.main__pic-star {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4vw;
	height: 4vw;
	/* padding-bottom: 30%; */
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  opacity: 0.8;
	background: linear-gradient(211.68deg, #6F3A80 16.84%, #EE778C 50.49%, #6F3A80 84.86%);
	border-radius: 5px;
  margin-top: -20%;
}
.main__pic-star p{
	font-size: 1.6rem;
	font-weight: 900;
	color: #FFFFFF;
}


footer {
  left: 0;
  right: 0;
  bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: 12vh;
  padding: 2% 4%;
  position: fixed;
	background: linear-gradient( rgba(255, 255, 255, .85), 5%, rgba(255, 255, 255, 1) 99%);
}
footer .nav__social-links-icon {
	display: flex;
	justify-content: space-between;
	min-width: 30%;
}
footer .nav__social-links-icon span{
	padding: 5%;
}